<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Realizar relatos
      </h2>
      <ol class="breadcrumb">
        <li >
          <i class="fa fa-home"></i><a routerLink="/conexaoeticacarrefour/home">Início</a>
        </li>
        <li  [hidden]="!termosaceitos" (click)="finishRelatFalse()" style="cursor: pointer">
          <i class="fa fa-edit"></i><a>Realizar relatos</a>
        </li>
        <li class="active" [hidden]="termosaceitos">
          <i class="fa fa-edit"></i>Realizar relatos
        </li>
        <li class="active" [hidden]="!finishRelat">
          <i class="fa fa-send"></i>Envio do relato
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row" [hidden]="termosaceitos">
    <div class="row">
      <div class="col-lg-12">
        <p>Este é um canal exclusivo do Grupo Carrefour para comunicação segura e, se desejada, anônima, de condutas
          consideradas antiéticas ou que violem os princípios éticos e padrões de conduta e/ou a legislação vigente.
          <br>
          As informações aqui registradas são de responsabilidade do relator. Elas serão recebidas, verificadas e
          analisadas de forma transparente e imparcial, assegurando sigilo absoluto, tratamento adequado e sem conflitos
          de interesse.
          <br>

          Você tem a opção de realizar seu relato pelo telefone 0800-772 2975 de segunda a sábado das 08h às
          20h.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>
          Você também pode escolher fazer um relato anônimo ou pode identificar-se.
          <br>
          A opção identificada é voltada para os casos em que o relator se disponibiliza a ser contatado para
          esclarecimento de possíveis dúvidas sobre o conteúdo fornecido.
          <br>

          Relatos com identificação são muito importantes, pois permitem que a apuração seja mais efetiva. Lembramos que
          este é um canal seguro e confiável.
        </p>
      </div>
    </div>

    <div class="row" [hidden]="requiredOption">

      <div class="col-md-3" style="padding-right: 0;">
        <div class="form-group has-danger">
          <label class="form-control-label"><strong>Você quer se identificar?</strong></label>
        </div>
      </div>

      <div class="col-lg-3 inline" style="padding: 0;">
        <button (click)="anonimo = false" class="btn-sm btn-primary " style="border-bottom-color: red">Sim</button>
        <button (click)="anonimo = true" class="btn-sm btn-secondary" style="border-bottom-color: red">Não</button>
      </div>

    </div>

    <div class="row" [hidden]="!requiredOption">

      <div class="col-md-3" style="padding-right: 0;">
        <div class="form-group">
          <label class="form-control-label">Você quer se identificar?</label>
        </div>
      </div>

      <div class="col-lg-3 inline" style="padding: 0;">
        <button (click)="anonimo = false" class="btn-sm btn-primary ">Sim</button>
        <button (click)="anonimo = true" class="btn-sm btn-secondary">Não</button>
      </div>
    </div>

    <div class="row" style="padding-top: 20px;">
      <div class="col-lg-12">
        <button (click)="aceitarTermos()" class="btn btn-primary">Concordo com os termos acima</button>
      </div>
    </div>

  </div>

  <div class="row" [hidden]="!termosaceitos">
  <div class="row" [hidden]="anonimo">
    <!--sim-->
    * Nome

    * Função

    Por favor, preencha um dos campos abaixo:
    E-mail

    E-mail para contato
    Telefone

    Celular


    Realizar relato

    Por favor, descreva a situação que o motiva a procurar este canal. É importante que seu relato seja completo e detalhado. Não se esqueça de incluir na descrição:

    • O quê (descrição da situação)
    • Quem (nome das pessoas envolvidas, função, setor, inclusive testemunhas)
    • Quando (data em que aconteceu, acontece ou acontecerá a situação)
    • Onde (local do relato)
    • Por que (a causa ou motivo)
    • Quanto (se for possível medir)
    • Provas (se elas existem e onde podem ser encontradas)

    Para acompanhar o andamento de seu relato, você receberá um número de protocolo que será fornecido após este registro.

    Agradecemos sua iniciativa e confiança.


    Dados do incidente

    * Tipo do relato
    * Localidade do relato

    * Bairro / Endereço / Loja

    * Dados do(s) envolvido(s): Nome, Função, Loja

    * Descrição

    Este relato está ligado a outro registro anterior? Em caso positivo, por favor, informe o número do protocolo anterior:

    Se você quiser anexar arquivos como fotos e documentos, adicione-os aqui. O tamanho máximo do conjunto de arquivos é de 20 MB.


    Anexar arquivo
    Cancelar
    Enviar

  </div>

  <div class="row" [hidden]="!anonimo">
    <!--não-->
    Realizar relato

    Por favor, descreva a situação que o motiva a procurar este canal. É importante que seu relato seja completo e detalhado. Não se esqueça de incluir na descrição:

    • O quê (descrição da situação)
    • Quem (nome das pessoas envolvidas, função, setor, inclusive testemunhas)
    • Quando (data em que aconteceu, acontece ou acontecerá a situação)
    • Onde (local do relato)
    • Por que (a causa ou motivo)
    • Quanto (se for possível medir)
    • Provas (se elas existem e onde podem ser encontradas)

    Para acompanhar o andamento de seu relato, você receberá um número de protocolo que será fornecido após este registro.

    Agradecemos sua iniciativa e confiança.


    Dados do incidente

    * Tipo do relato
    * Localidade do relato

    * Bairro / Endereço / Loja

    * Dados do(s) envolvido(s): Nome, Função, Loja

    * Descrição

    Este relato está ligado a outro registro anterior? Em caso positivo, por favor, informe o número do protocolo anterior:



    Se você quiser anexar arquivos como fotos e documentos, adicione-os aqui. O tamanho máximo do conjunto de arquivos é de 20 MB.


    Anexar arquivo

    Enviar fim
  </div>
  </div>


  <div class="row" [hidden]="true">
    <div class="col-lg-6">

      <form role="form">
        <fieldset class="form-group">
          <label>Text Input</label>
          <input class="form-control">
          <p class="help-block">Example block-level help text here.</p>
        </fieldset>

        <fieldset class="form-group">
          <label>Text Input with Placeholder</label>
          <input class="form-control" placeholder="Enter text">
        </fieldset>

        <div class="form-group">
          <label>Static Control</label>
          <p class="form-control-static">email@example.com</p>
        </div>

        <fieldset class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile">
        </fieldset>

        <fieldset class="form-group">
          <label>Text area</label>
          <textarea class="form-control" rows="3"></textarea>
        </fieldset>

        <div class="form-group">
          <label>Checkboxes</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Checkbox 1
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Checkbox 2
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Checkbox 3
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>Inline Checkboxes</label>
          <label class="checkbox-inline">
            <input type="checkbox">1
          </label>
          <label class="checkbox-inline">
            <input type="checkbox">2
          </label>
          <label class="checkbox-inline">
            <input type="checkbox">3
          </label>
        </div>

        <fieldset class="form-group">
          <label>Radio Buttons</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Radio 1
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Radio 2
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Radio 3
            </label>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>Inline Radio Buttons</label>
          <label class="radio-inline">
            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">1
          </label>
          <label class="radio-inline">
            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
          </label>
          <label class="radio-inline">
            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
          </label>
        </fieldset>

        <div class="form-group">
          <label>Selects</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <fieldset class="form-group">
          <label>Multiple Selects</label>
          <select multiple="" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </fieldset>

        <button type="submit" class="btn btn-secondary">Submit Button</button>
        <button type="reset" class="btn btn-secondary">Reset Button</button>

      </form>

    </div>
    <div class="col-lg-6">
      <h4>Disabled Form States</h4>

      <form role="form">

        <fieldset disabled="">

          <div class="form-group">
            <label for="disabledSelect">Disabled input</label>
            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="">
          </div>

          <div class="form-group">
            <label for="disabledSelect">Disabled select menu</label>
            <select id="disabledSelect" class="form-control">
              <option>Disabled select</option>
            </select>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox"> Disabled Checkbox
            </label>
          </div>

          <button type="submit" class="btn btn-primary">Disabled Button</button>

        </fieldset>

      </form>
      <br>

      <h4>Form Validation</h4>

      <form role="form">

        <div class="form-group has-success">
          <label class="form-control-label" for="inputSuccess">Input with success</label>
          <input type="text" class="form-control form-control-success" id="inputSuccess">
        </div>

        <div class="form-group has-warning">
          <label class="form-control-label" for="inputWarning">Input with warning</label>
          <input type="text" class="form-control form-control-warning" id="inputWarning">
        </div>

        <div class="form-group has-danger">
          <label class="form-control-label" for="inputError">Input with danger</label>
          <input type="text" class="form-control form-control-danger" id="inputError">
        </div>

      </form>

      <h4>Input Groups</h4>

      <form role="form">

        <div class="form-group input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="Username">
        </div>

        <div class="form-group input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon">.00</span>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          <input type="text" class="form-control" placeholder="Font Awesome Icon">
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control">
          <span class="input-group-addon">.00</span>
        </div>

        <div class="form-group input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn"><button class="btn btn-secondary" type="button"><i
            class="fa fa-search"></i></button></span>
        </div>

      </form>

    </div>
  </div>
  <!-- /.row -->

</div>
